header {
  background: #000;
}

.ibelongontthehomepage {
  display: block;
  border: 1px;
}

.iamonlesinglepagelolol {
  display: block;
  border: 5px;
  width: 100px;
  height: 100px;
}

.actuallyusefull {
  width: 100px;
  height: 100px;
  background: #ff0;
}

.ibelongontthehomepage {
  display: block;
  border: 1px;
}
