/* Sassyness */
/* Fonts */
/* Colours */
/*Styling*/
body {
  background: url(/img/bg.jpg) no-repeat fixed;
  background-size: cover;
  color: #d3d3d3;
}

h1, h2, h3, h4 {
  color: #d3d3d3;
}

a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #d3d3d3;
}

@media only screen {
  header .main-logo {
    display: block;
  }
  header .main-logo .logo {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  header .main-logo .logo img {
    max-width: 100%;
    height: auto;
  }
  header .header_navigation {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c3030+0,800000+100 */
    background: #7c3030;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7c3030 0%, #800000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c3030), color-stop(100%, #800000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7c3030 0%, #800000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7c3030 0%, #800000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7c3030 0%, #800000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #7c3030 0%, #800000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c3030', endColorstr='#800000',GradientType=0 );
    /* IE6-9 */
    height: auto;
    position: relative;
  }
  header .header_navigation ul.menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  header .header_navigation ul.menu li {
    display: inline-block;
    float: left;
    position: relative;
  }
  header .header_navigation ul.menu li ul.sub_menu {
    opacity: 0;
    display: none;
  }
  header .header_navigation ul.menu li:hover ul.sub_menu {
    opacity: 1;
    display: block;
    position: absolute;
    top: 115%;
    width: 150%;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    background: #800000;
    z-index: 1;
  }
  header .header_navigation ul.menu li:hover ul.sub_menu li {
    width: 100%;
  }
  header .header_navigation ul.menu li a {
    display: block;
    width: auto;
    padding: 15px 12px;
    font-size: 13px;
    color: #fff;
    margin-bottom: -7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .header_navigation ul.menu li a:hover {
    color: #d3d3d3;
    background: #4d0000;
  }
  .main_body {
    background: rgba(0, 0, 0, 0.7);
    padding: 45px 0;
  }
}

/* Define mobile styles */
/* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) {
  header .header_navigation ul.menu li a {
    font-size: 21px;
  }
}

/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */
footer .footer_links h3 {
  text-transform: uppercase;
  font-size: 120%;
  color: #868686;
}

footer .footer_links ul.footer_menu {
  list-style: none;
  padding: none;
  margin: 0;
}

footer .footer_links ul.footer_menu li {
  list-style: none;
}

footer .footer_links ul.footer_menu li a {
  color: #868686;
}

footer .footer_links ul.footer_menu li a:hover {
  color: #b9b9b9;
}

.iamonlesinglepagelolol {
  display: block;
  border: 5px;
  width: 100px;
  height: 100px;
}

.actuallyusefull {
  width: 100px;
  height: 100px;
  background: #ff0;
}

img.featured_image {
  width: 100%;
  height: auto;
}

.loop_main {
  padding: 15px 0;
}

.loop_main h3 {
  font-size: 130%;
}

.loop_main img.play_now {
  margin-top: 15px;
}

.loop_main span.play_now {
  display: block;
}

.loop_related {
  padding: 15px 0;
}

.loop_related h3 {
  font-size: 110%;
}
