footer {
	.footer_links {
		background: rgba(0,0,0,0.7);
		padding:25px 0;
		border-top:1px solid $white;
		h3 {
			text-transform: uppercase;
			font-size:120%;
			color:darken($lightgrey,30%);
		}
		ul.footer_menu {
			list-style: none;
			padding:none;
			margin:0;
			li {
				list-style: none;
				a {
					color:darken($lightgrey,30%);
					&:hover {
						color:darken($lightgrey,10%);
					}
				}
			}
		}
	}
}