.main_section {
}
.sidebar {
}
img.featured_image {
	width:100%;
	height:auto;
}

.loop_main {
	padding:15px 0;
	h3 {
		font-size:130%;
	}
	img.play_now {
		margin-top:15px;
	}
	span.play_now {
		display:block;
	}
}

.loop_related {
	padding:15px 0;
	h3 {
		font-size:110%;
	}
}